/* Thiết lập màu sắc chung */
#Menu_BatDau {
  background-color: #ff5733; /* Màu nền menu */
  text-align: center; /* Căn giữa nội dung */
  padding: 20px;
  border-radius: 10px; /* Bo góc */
}
#Menu_BatDau_h1 {
  color: white; /* Màu chữ của tiêu đề */
}
/* Navbar */
.Menu_NavBar {
  padding: 10px;
}
.NutNhan_NavBar {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 5px;
}
/* Canvas Game */
#Game_Canvas{
  border: 2px solid #ff5733; /* Viền game màu cam */
  display: block;
  width: 90%;
  max-width: 500px;
  margin: auto;
}
/* Footer */
Game_Footer {
  background: #222;
  text-align: center;
  padding: 15px;
  color: white;
}

/* Nút Menu */
#NutNhan_Menu{
  background: white;
  color: black;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}
#NutNhan_BatDau:hover {
  background: black;
  color: white;
  transform: scale(1.1);
}
/* Nút Cài đặt */
#NutNhan_CaiDat{
  background: gray;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
}
